<%= render 'partials/header', back_label: '<Login', back_link: new_session_path(resource_name), header: 'Forgot password?', action: 'Reset>' %>
<div class=" text-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'visually-hidden' %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100  form-control rounded-0', placeholder: 'Email' %>
    </div>
  <% end %>
</div>