<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <strong>Total Amount:</strong>
    <%= category.total_amount %>
  </p>
  <p>
    <strong>Icon:</strong>
    <%= image_tag(category.icon, class: "portrait") %>
    <%#= category.icon %>
  </p>
  <p>
    <%= link_to 'See Transactions', category_expenses_path(category) %>
  </p>
</div>
