<div class=" text-center">
  <%= form_with(model: expense, url: category_expenses_path(params[:category_id]), html: { id: 'new-transaction' }) do |form| %>
    <% if expense.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
          <% expense.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :name, class: 'form-label visually-hidden' %>
      <%= form.text_field :name, class: 'w-100  form-control rounded-0', placeholder: 'Name' %>
    </div>
    <div class="form-group">
      <%= form.label :amount, class: 'form-label visually-hidden' %>
      <%= form.number_field :amount, class: 'w-100  form-control rounded-0', placeholder: 'Amount' %>
    </div>
    <div class="form-group text-start p-2">
      <%= form.label :Categories, class: 'form-label h5' %> <br/>
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>