<p style="color: green"><%= notice %></p>

<h1>Expenses <span>Total Amount is $</span><%= @category.total_amount %></h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%#= link_to "Show this expense", expense %>
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_category_expense_path(@category) %>
<%= link_to "< Back", categories_path %>
